body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 410px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  margin-bottom: 40px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.title {
  font-size: 24px;
}

.switch,
.accordions {
  margin-bottom: 30px;
}

.accordions mark {
  color: black;
}

.button {
  margin: 15px 0;
}

.badge {
  max-width: 250px;
  margin: 30px 0;
}

.list {
  line-height: 20px;
}

.extensionWatchingIcon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  vertical-align: middle;
}

mark {
  border-radius: 2px;
  color: transparent;
  border-bottom: 2px solid;
  border-color: transparent;
  background: transparent;
  transition: border-width 0.6s linear;
  animation: fading 1s ease-in-out;
}

@keyframes fading {
  70% {
    background-color: transparent;
    border-bottom: 0px;
  }
}

mark[data-entity="B-PER"],
mark[data-entity="I-PER"],
mark[data-entity="B-LOC"],
mark[data-entity="I-LOC"],
mark[data-entity="B-MISC"],
mark[data-entity="I-MISC"],
mark[data-entity="B-ORG"],
mark[data-entity="I-ORG"] {
  border-color: rgb(62, 142, 247);
  background-color: rgba(62, 142, 247, 0.3);
}

mark[data-entity="B-PII"],
mark[data-entity="I-PII"],
mark[data-entity="B-DIS"],
mark[data-entity="I-DIS"] {
  border-color: rgb(255, 6, 6);
  background-color: rgba(240, 74, 74, 0.3);
}
