.backdrop {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 1;
  background-color: #fff;
  overflow: auto;
  pointer-events: none;
  transition: transform 1s;
}

#tempDomParser {
  display: none;
  color: transparent !important;
}

.highlights,
.highlights *,
.highlights font {
  color: transparent !important;
}

.Am.Al {
  position: relative;
  z-index: 2;
  background-color: transparent;
  overflow: auto;
  resize: none;
}

mark {
  border-radius: 2px;
  color: transparent;
  border-bottom: 2px solid;
  background: transparent;
  transition: border-width 0.6s linear;
  animation: mymove 1s ease-in-out;
}

@keyframes mymove {
  70% {
    background-color: transparent;
    border-bottom: 0px;
  }
}

mark[data-entity="B-person"],
mark[data-entity="I-person"],
mark[data-entity="B-PER"],
mark[data-entity="I-PER"] {
  border-color: rgb(62, 142, 247);
  background-color: rgba(62, 142, 247, 0.3);
}

mark[data-entity="I-location"],
mark[data-entity="B-location"],
mark[data-entity="I-LOC"],
mark[data-entity="B-LOC"] {
  border-color: rgb(255, 187, 0);
  background-color: rgba(255, 196, 0, 0.3);
}

mark[data-entity="I-corporation"],
mark[data-entity="B-corporation"],
mark[data-entity="I-ORG"],
mark[data-entity="B-ORG"] {
  border-color: rgb(115, 240, 74);
  background-color: rgba(115, 240, 74, 0.3);
}

mark[data-entity="I-sensitive"] {
  border-color: rgb(255, 6, 6);
  background-color: rgba(240, 74, 74, 0.3);
}

.loadingIcon {
  position: absolute;
  top: 0px;
  right: 0px;
}
